In [1]:
import pandas as pd
import numpy as np
import time
from multiprocessing.dummy import Pool as ThreadPool
from q_tools.data import *
from q_tools.cal import *
import talib
from math import atan

In [2]:
listS=get_index_codes()

In [3]:
data=get_data(listS[0])

In [4]:
data

,code,open,close,high,low,volume,value,amplitude,A-D,range,turnover
date,,,,,,,,,,,
2011-01-04,600000,2.24,2.34,2.38,2.17,1043015.0,1.307175e+09,9.46,5.41,0.12,0.91
2011-01-05,600000,2.39,2.39,2.50,2.35,1070142.0,1.367751e+09,6.41,2.14,0.05,0.93
2011-01-06,600000,2.40,2.37,2.49,2.33,639541.0,8.144517e+08,6.69,-0.84,-0.02,0.56
2011-01-07,600000,2.38,2.67,2.82,2.32,2787976.0,3.673753e+09,21.10,12.66,0.30,2.43
2011-01-10,600000,2.61,2.59,2.73,2.51,1280075.0,1.679802e+09,8.24,-3.00,-0.08,1.12
...,...,...,...,...,...,...,...,...,...,...,...
2024-05-27,600000,8.45,8.54,8.56,8.43,528587.0,4.499326e+08,1.54,1.18,0.10,0.18
2024-05-28,600000,8.58,8.54,8.64,8.51,400473.0,3.429045e+08,1.52,0.00,0.00,0.14
2024-05-29,600000,8.53,8.49,8.59,8.45,408024.0,3.472902e+08,1.64,-0.59,-0.05,0.14
2024-05-30,600000,8.47,8.40,8.55,8.36,567016.0,4.791462e+08,2.24,-1.06,-0.09,0.19
2024-05-31,600000,8.45,8.34,8.45,8.31,537973.0,4.496890e+08,1.67,-0.71,-0.06,0.18

In [5]:
fac=process_(data)
fac

,code,open,close,high,low,volume,value,amplitude,A-D,range,...,k1_1,k1_2,hc,return1_,return3_,return5_,vol21_,vol21_1,vol21_2,vol21_3
date,,,,,,,,,,,,,,,,,,,,,
2011-01-04,600000,2.24,2.34,2.38,2.17,1043015.0,1.307175e+09,9.46,5.41,0.12,...,NaN,NaN,1.709402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-05,600000,2.39,2.39,2.50,2.35,1070142.0,1.367751e+09,6.41,2.14,0.05,...,NaN,NaN,4.602510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-06,600000,2.40,2.37,2.49,2.33,639541.0,8.144517e+08,6.69,-0.84,-0.02,...,0.000000,NaN,5.063291,-2.973572,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-07,600000,2.38,2.67,2.82,2.32,2787976.0,3.673753e+09,21.10,12.66,0.30,...,-0.031381,0.000000,5.617978,13.495048,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-10,600000,2.61,2.59,2.73,2.51,1280075.0,1.679802e+09,8.24,-3.00,-0.08,...,0.305907,-0.031381,5.405405,-15.654483,-5.734363,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-27,600000,8.45,8.54,8.56,8.43,528587.0,4.499326e+08,1.54,1.18,0.10,...,-0.020540,0.000000,0.234192,2.123801,-0.120296,-0.787142,0.993328,-0.157181,-0.196207,-0.420132
2024-05-28,600000,8.58,8.54,8.64,8.51,400473.0,3.429045e+08,1.52,0.00,0.00,...,0.026659,-0.020540,1.170960,-1.184834,0.117508,-1.219053,0.742417,-0.250911,-0.408091,-0.447117
2024-05-29,600000,8.53,8.49,8.59,8.45,408024.0,3.472902e+08,1.64,-0.59,-0.05,...,-0.011710,0.026659,1.177856,-0.585480,0.357675,-1.894111,0.745799,0.003382,-0.247529,-0.404710
2024-05-30,600000,8.47,8.40,8.55,8.36,567016.0,4.791462e+08,2.24,-1.06,-0.09,...,-0.011710,-0.011710,1.785714,-0.474591,-2.231761,-0.939518,1.026709,0.280910,0.284292,0.033381
2024-05-31,600000,8.45,8.34,8.45,8.31,537973.0,4.496890e+08,1.67,-0.71,-0.06,...,-0.020612,-0.011710,1.318945,0.345785,-0.702576,0.223617,0.962108,-0.064601,0.216309,0.219691

In [6]:
factor_name = [ 'target2','factor0','factor1','factor2','factor3','return1', 'return3', 'return5', 'bias5', 'bias10', 'bias21', 'bias55',
        'bias5_', 'bias10_', 'bias21_', 'bias55_', 'trend5','increase5','increase_vol5',
       'trend21', 'high5', 'high10', 'high21', 'k1', 'k1_1', 'k1_2', 'hc',
       'return1_', 'return3_', 'return5_','vol21_', 'vol21_1', 'vol21_2',
       'vol21_3']

In [20]:
pricing=pd.DataFrame(fac['close'])
pricing.columns=[listS[0]]

In [51]:
listS[0]

'600000'

In [21]:
pricing

            600000
date
2011-01-04    2.34
2011-01-05    2.39
2011-01-06    2.37
2011-01-07    2.67
2011-01-10    2.59
...            ...
2024-05-27    8.54
2024-05-28    8.54
2024-05-29    8.49
2024-05-30    8.40
2024-05-31    8.34

[3257 rows x 1 columns]

In [59]:
periods=data_line()
periods=pd.to_datetime(periods.index)
days = pd.Index(periods)
idx_df = days.to_frame()
freq = 'ME'
if freq[-1] == 'E':
    day_range = idx_df.resample(freq[0]).last()
else:
    day_range = idx_df.resample(freq[0]).first()

day_range = day_range['date'].dt.date
periods=day_range.dropna().values.tolist()
periods

[datetime.date(2011, 1, 31),
 datetime.date(2011, 2, 28),
 datetime.date(2011, 3, 31),
 datetime.date(2011, 4, 29),
 datetime.date(2011, 5, 31),
 datetime.date(2011, 6, 30),
 datetime.date(2011, 7, 29),
 datetime.date(2011, 8, 31),
 datetime.date(2011, 9, 30),
 datetime.date(2011, 10, 31),
 datetime.date(2011, 11, 30),
 datetime.date(2011, 12, 30),
 datetime.date(2012, 1, 31),
 datetime.date(2012, 2, 29),
 datetime.date(2012, 3, 30),
 datetime.date(2012, 4, 27),
 datetime.date(2012, 5, 31),
 datetime.date(2012, 6, 29),
 datetime.date(2012, 7, 31),
 datetime.date(2012, 8, 31),
 datetime.date(2012, 9, 28),
 datetime.date(2012, 10, 31),
 datetime.date(2012, 11, 30),
 datetime.date(2012, 12, 31),
 datetime.date(2013, 1, 31),
 datetime.date(2013, 2, 28),
 datetime.date(2013, 3, 29),
 datetime.date(2013, 4, 26),
 datetime.date(2013, 5, 31),
 datetime.date(2013, 6, 28),
 datetime.date(2013, 7, 31),
 datetime.date(2013, 8, 30),
 datetime.date(2013, 9, 30),
 datetime.date(2013, 10, 31),
 datetime.date(2013, 11, 29),
 datetime.date(2013, 12, 31),
 datetime.date(2014, 1, 30),
 datetime.date(2014, 2, 28),
 datetime.date(2014, 3, 31),
 datetime.date(2014, 4, 30),
 datetime.date(2014, 5, 30),
 datetime.date(2014, 6, 30),
 datetime.date(2014, 7, 31),
 datetime.date(2014, 8, 29),
 datetime.date(2014, 9, 30),
 datetime.date(2014, 10, 31),
 datetime.date(2014, 11, 28),
 datetime.date(2014, 12, 31),
 datetime.date(2015, 1, 30),
 datetime.date(2015, 2, 27),
 datetime.date(2015, 3, 31),
 datetime.date(2015, 4, 30),
 datetime.date(2015, 5, 29),
 datetime.date(2015, 6, 30),
 datetime.date(2015, 7, 31),
 datetime.date(2015, 8, 31),
 datetime.date(2015, 9, 30),
 datetime.date(2015, 10, 30),
 datetime.date(2015, 11, 30),
 datetime.date(2015, 12, 31),
 datetime.date(2016, 1, 29),
 datetime.date(2016, 2, 29),
 datetime.date(2016, 3, 31),
 datetime.date(2016, 4, 29),
 datetime.date(2016, 5, 31),
 datetime.date(2016, 6, 30),
 datetime.date(2016, 7, 29),
 datetime.date(2016, 8, 31),
 datetime.date(2016, 9, 30),
 datetime.date(2016, 10, 31),
 datetime.date(2016, 11, 30),
 datetime.date(2016, 12, 30),
 datetime.date(2017, 1, 26),
 datetime.date(2017, 2, 28),
 datetime.date(2017, 3, 31),
 datetime.date(2017, 4, 28),
 datetime.date(2017, 5, 31),
 datetime.date(2017, 6, 30),
 datetime.date(2017, 7, 31),
 datetime.date(2017, 8, 31),
 datetime.date(2017, 9, 29),
 datetime.date(2017, 10, 31),
 datetime.date(2017, 11, 30),
 datetime.date(2017, 12, 29),
 datetime.date(2018, 1, 31),
 datetime.date(2018, 2, 28),
 datetime.date(2018, 3, 30),
 datetime.date(2018, 4, 27),
 datetime.date(2018, 5, 31),
 datetime.date(2018, 6, 29),
 datetime.date(2018, 7, 31),
 datetime.date(2018, 8, 31),
 datetime.date(2018, 9, 28),
 datetime.date(2018, 10, 31),
 datetime.date(2018, 11, 30),
 datetime.date(2018, 12, 28),
 datetime.date(2019, 1, 31),
 datetime.date(2019, 2, 28),
 datetime.date(2019, 3, 29),
 datetime.date(2019, 4, 30),
 datetime.date(2019, 5, 31),
 datetime.date(2019, 6, 28),
 datetime.date(2019, 7, 31),
 datetime.date(2019, 8, 30),
 datetime.date(2019, 9, 30),
 datetime.date(2019, 10, 31),
 datetime.date(2019, 11, 29),
 datetime.date(2019, 12, 31),
 datetime.date(2020, 1, 23),
 datetime.date(2020, 2, 28),
 datetime.date(2020, 3, 31),
 datetime.date(2020, 4, 30),
 datetime.date(2020, 5, 29),
 datetime.date(2020, 6, 30),
 datetime.date(2020, 7, 31),
 datetime.date(2020, 8, 31),
 datetime.date(2020, 9, 30),
 datetime.date(2020, 10, 30),
 datetime.date(2020, 11, 30),
 datetime.date(2020, 12, 31),
 datetime.date(2021, 1, 29),
 datetime.date(2021, 2, 26),
 datetime.date(2021, 3, 31),
 datetime.date(2021, 4, 30),
 datetime.date(2021, 5, 31),
 datetime.date(2021, 6, 30),
 datetime.date(2021, 7, 30),
 datetime.date(2021, 8, 31),
 datetime.date(2021, 9, 30),
 datetime.date(2021, 10, 29),
 datetime.date(2021, 11, 30),
 datetime.date(2021, 12, 31),
 datetime.date(2022, 1, 28),
 datetime.date(2022, 2, 28),
 datetime.date(2022, 3, 31),
 datetime.date(2022, 4, 29),
 datetime.date(2022, 5, 31),
 datetime.date(2022, 6, 30),
 datetime.date(2022, 7, 29),
 datetime.date(2022, 8, 31),
 datetime.date(2022, 9, 30),
 datetime.date(2022, 10, 31),
 datetime.date(2022, 11, 30),
 datetime.date(2022, 12, 30),
 datetime.date(2023, 1, 31),
 datetime.date(2023, 2, 28),
 datetime.date(2023, 3, 31),
 datetime.date(2023, 4, 28),
 datetime.date(2023, 5, 31),
 datetime.date(2023, 6, 30),
 datetime.date(2023, 7, 31),
 datetime.date(2023, 8, 31),
 datetime.date(2023, 9, 28),
 datetime.date(2023, 10, 31),
 datetime.date(2023, 11, 30),
 datetime.date(2023, 12, 29),
 datetime.date(2024, 1, 31),
 datetime.date(2024, 2, 29),
 datetime.date(2024, 3, 29),
 datetime.date(2024, 4, 30),
 datetime.date(2024, 5, 31)]

In [ ]:
get_close_price

In [62]:
data.loc[str(periods[0]),'close']

2.4

In [49]:
# 获取因子回测数据

res_dic = {}
for name in factor_name:

    res = get_factor_returns(fac, name, 0.4)
    res.get_calc(pricing)
    res.long_short(5, 1)
    res_dic[name] = res

AttributeError: 'Index' object has no attribute 'levels'