In [1]:
import pandas as pd
import numpy as np
import time
from multiprocessing.dummy import Pool as ThreadPool
from q_tools.data import *
from q_tools.cal import *
import talib
from math import atan

In [2]:
listS=get_index_codes()

In [3]:
data=get_data(listS[0])

In [4]:
data

,code,open,close,high,low,volume,value,amplitude,A-D,range,turnover
date,,,,,,,,,,,
2011-01-04,600000,2.24,2.34,2.38,2.17,1043015.0,1.307175e+09,9.46,5.41,0.12,0.91
2011-01-05,600000,2.39,2.39,2.50,2.35,1070142.0,1.367751e+09,6.41,2.14,0.05,0.93
2011-01-06,600000,2.40,2.37,2.49,2.33,639541.0,8.144517e+08,6.69,-0.84,-0.02,0.56
2011-01-07,600000,2.38,2.67,2.82,2.32,2787976.0,3.673753e+09,21.10,12.66,0.30,2.43
2011-01-10,600000,2.61,2.59,2.73,2.51,1280075.0,1.679802e+09,8.24,-3.00,-0.08,1.12
...,...,...,...,...,...,...,...,...,...,...,...
2024-05-27,600000,8.45,8.54,8.56,8.43,528587.0,4.499326e+08,1.54,1.18,0.10,0.18
2024-05-28,600000,8.58,8.54,8.64,8.51,400473.0,3.429045e+08,1.52,0.00,0.00,0.14
2024-05-29,600000,8.53,8.49,8.59,8.45,408024.0,3.472902e+08,1.64,-0.59,-0.05,0.14
2024-05-30,600000,8.47,8.40,8.55,8.36,567016.0,4.791462e+08,2.24,-1.06,-0.09,0.19
2024-05-31,600000,8.45,8.34,8.45,8.31,537973.0,4.496890e+08,1.67,-0.71,-0.06,0.18

In [5]:
periods=get_periods()
data.loc[periods,'close']

date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64

In [6]:
fac=process_(data)
fac

,code,open,close,high,low,volume,value,amplitude,A-D,range,...,k1_1,k1_2,hc,return1_,return3_,return5_,vol21_,vol21_1,vol21_2,vol21_3
date,,,,,,,,,,,,,,,,,,,,,
2011-01-04,600000,2.24,2.34,2.38,2.17,1043015.0,1.307175e+09,9.46,5.41,0.12,...,NaN,NaN,1.709402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-05,600000,2.39,2.39,2.50,2.35,1070142.0,1.367751e+09,6.41,2.14,0.05,...,NaN,NaN,4.602510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-06,600000,2.40,2.37,2.49,2.33,639541.0,8.144517e+08,6.69,-0.84,-0.02,...,0.000000,NaN,5.063291,-2.973572,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-07,600000,2.38,2.67,2.82,2.32,2787976.0,3.673753e+09,21.10,12.66,0.30,...,-0.031381,0.000000,5.617978,13.495048,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-10,600000,2.61,2.59,2.73,2.51,1280075.0,1.679802e+09,8.24,-3.00,-0.08,...,0.305907,-0.031381,5.405405,-15.654483,-5.734363,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-27,600000,8.45,8.54,8.56,8.43,528587.0,4.499326e+08,1.54,1.18,0.10,...,-0.020540,0.000000,0.234192,2.123801,-0.120296,-0.787142,0.993328,-0.157181,-0.196207,-0.420132
2024-05-28,600000,8.58,8.54,8.64,8.51,400473.0,3.429045e+08,1.52,0.00,0.00,...,0.026659,-0.020540,1.170960,-1.184834,0.117508,-1.219053,0.742417,-0.250911,-0.408091,-0.447117
2024-05-29,600000,8.53,8.49,8.59,8.45,408024.0,3.472902e+08,1.64,-0.59,-0.05,...,-0.011710,0.026659,1.177856,-0.585480,0.357675,-1.894111,0.745799,0.003382,-0.247529,-0.404710
2024-05-30,600000,8.47,8.40,8.55,8.36,567016.0,4.791462e+08,2.24,-1.06,-0.09,...,-0.011710,-0.011710,1.785714,-0.474591,-2.231761,-0.939518,1.026709,0.280910,0.284292,0.033381
2024-05-31,600000,8.45,8.34,8.45,8.31,537973.0,4.496890e+08,1.67,-0.71,-0.06,...,-0.020612,-0.011710,1.318945,0.345785,-0.702576,0.223617,0.962108,-0.064601,0.216309,0.219691

In [7]:
factor_name = [ 'target2','factor0','factor1','factor2','factor3','return1', 'return3', 'return5', 'bias5', 'bias10', 'bias21', 'bias55',
        'bias5_', 'bias10_', 'bias21_', 'bias55_', 'trend5','increase5','increase_vol5',
       'trend21', 'high5', 'high10', 'high21', 'k1', 'k1_1', 'k1_2', 'hc',
       'return1_', 'return3_', 'return5_','vol21_', 'vol21_1', 'vol21_2',
       'vol21_3']

In [8]:
pricing=data.loc[periods,'close']
pricing

date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64

In [9]:
tmp=get_close_price(listS[0],periods)
tmp

In [10]:
for i in tmp:
    print(i)

date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13
2024-04-30    7.70
2024-05-31    8.34
Name: close, Length: 161, dtype: float64
date
2011-01-31    2.40
2011-02-28    2.39
2011-03-31    2.88
2011-04-29    3.24
2011-05-31    3.01
              ...
2024-01-31    6.83
2024-02-29    7.15
2024-03-29    7.13

In [ ]:
index=pd.MultiIndex.from_product([names,exems])
df = pd.Series(np.random.randint(0,150,size=6),index=index)

In [11]:
# 获取因子回测数据

res_dic = {}
for name in factor_name:

    res = get_factor_returns(fac, name, 0.4)
    res.get_calc(pricing)
    res.long_short(5, 1)
    res_dic[name] = res

AttributeError: 'DatetimeIndex' object has no attribute 'levels'

In [12]:
fac.index

DatetimeIndex(['2011-01-04', '2011-01-05', '2011-01-06', '2011-01-07',
               '2011-01-10', '2011-01-11', '2011-01-12', '2011-01-13',
               '2011-01-14', '2011-01-17',
               ...
               '2024-05-20', '2024-05-21', '2024-05-22', '2024-05-23',
               '2024-05-24', '2024-05-27', '2024-05-28', '2024-05-29',
               '2024-05-30', '2024-05-31'],
              dtype='datetime64[ns]', name='date', length=3257, freq=None)